---
const { projects } = Astro.props;
---

<table class="tg">
  <colgroup>
    <col style="width: auto" />
    <col style="width: 280px" />
    <col style="width: 500px" />
    <col style="width: auto" />
    <col style="width: auto" />
  </colgroup>
  <thead>
    <tr>
      <th class="tg-0pky">Year</th>
      <th class="tg-0pky">Project</th>
      <th class="description">Description</th>
      <!-- <th class="tg-0lax">Tech</th> -->
      <th class="tg-0lax">Link</th>
    </tr>
  </thead>
  <tbody>
    {
      projects.map((project: any) => (
        <tr>
          <td class="year">{project.year}</td>
          <td class="project-title">{project.name}</td>
          <td class="description">{project.description}</td>
          <!--<td class="tags">test, test</td>-->
          <td class="tg-0lax">
            <a href={project.homePage} target="_blank">
              {project.homePage}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
<style>
  table {
    border-collapse: collapse;
  }
  th {
    text-align: left;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
  td {
    border-top: 1px solid rgba(219, 0, 106, 0.6);
    padding: 20px;
  }
  .year {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.0105rem;
  }
  .project-title {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
  a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
  @media screen and (max-width: 1200px) {
    .description {
      display: none;
    }
  }
</style>
